form {
  text-align: center;
  padding: 10px;

  .query-parameters{
    margin: 10px;
    height: 35px;
    width: 70%;
    text-align: center;
    ::-webkit-input-placeholder{
      text-align: center;
    }
    ::-moz-placeholder {
      text-align: center;
    }
  }
  .rest-action{
    border: none;
    padding: 5px;
    margin: 10px;
    background-color: #878E88;
    &:hover{
     background-color: #878E88;
    }
    &:focus{
      background-color: #FEF6C9;
    }
  }
}
