$primary: #92BCEA;
$white: #617073;
$border: #171A21;

#form {
  text-align: center;
}

#info {
  color: #3f3f3f;
}

#inputUrl {
  background-color: $white;
  color: #3f3f3f;
  width: 400px;
  padding: 16px;
  font-size: 16px;
  border: 1px;
  border-color: $border;
  border-style: solid;
  border-radius: 5px;
}

#onClick {
  background-color: $primary;
  color: $white;
  padding: 15px;
  padding-bottom: 16px;
  font-size: 16px;
  border: 1px solid $border;
  border-radius: 5px;
  cursor: pointer;
}

#run {
  background-color: $primary;
  color: $white;
  padding: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  border: 1px solid $border;
  border-radius: 5px;
  cursor: pointer;
}

#results {
  color: #3f3f3f;
}