#header {
  margin: 0;
  text-align:center;
  background-color: #878E88;
  width: 100%;
  h1{
    margin: auto 0;
    padding: 15px;
    font-family: 'Limelight', cursive;
  }
  
}
#restHeader {
  font-size: 50px;
  color: #725752;
}