#form {
  text-align: center;
}
#how-to {
  color: #270722;
}
input {
  background-color: #ffffff;
  color: #270722;
  width: 380px;
  padding: 13px;
  font-size: 14px;
  border: 2px;
  border-color: #270722;
  border-style: dashed;
  margin-bottom: 35px;
}
#results {
  background-color: #ffffff;
  margin-bottom: 35px;
}