$bgColor: #725752;

#footer {
  background: $bgColor;
  color: #878E88;
  height: 75px;
  bottom: 0;
  width: 100%;
  font-size: large;
  font-family: 'Stint Ultra Condensed', cursive;
}
p {
  padding-left: 15%;
}